.COPISERVI {  font-family: "Century Schoolbook"; font-size: 12px; font-style: normal; font-weight: normal; color: #000099}
.copservi_mayusc {  font-family: "Century Schoolbook"; font-size: 14px; font-weight: bold; text-transform: uppercase; color: #000099}
